#idfloatleft {float: left; background-color: #cccc77; font-family: Verdana, sans-serif; padding: 20px;}
.classheadlinedot {color: red; border-bottom: blue dotted;}
#idabsolutegray {positioning: absolute; top: 20px; right: 40px; background-color: #939393; border-style: solid black;}
.classrelativegreen {positioning: relative; left: 15px; background-color: #ADFF2F;}
#idfixedgray {position: fixed; background-color: #939393; font-weight: bold; padding: 10px; }
