#idfloatleft {float: left; background-color: #e5d1d1; font-family: Verdana, sans-serif; padding: 20px;}

.classheadlinedot {color: red; border-bottom: blue dotted;}

#idabsolutegray {positioning: absolute; top: 20; right: 40; background-color: #d3d3d3; border-style: solid black;}

.classrelativegreen {positioning: relative; left: 15; background-color: #98fb98;}

#idfixedgray {position: fixed; background-color: #d3d3d3; padding: 10px; font-weight: bold;}
